@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

body {
    font-size: 100%;
    background-color: #CAFF42;
    background-repeat: no-repeat;
    background-position: 40px 40px 40px;
    background-size: cover;
    margin: 0px;
}

.main {
    position: relative;

    background: #EBF7F8;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.15);
    border-radius: 62px;

    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #49708A;
}

.main-input {
    width: 50%;
    height: 45px;

    background: #C4C4C4;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 3%;
}

.main-input-logar {
    background: #CAFF42;
    color: #49708A;
    margin: 6%;
    font-size: 20px;
    width: 23%;
    height: 60px;
    border-radius: 20px;
    text-align: center;
}

.main-text-login {
    padding: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fin-input {
    background: #CAFF42;
    color: #49708A;
    margin: 5%;
    font-size: 20px;
    width: 50%;
    height: 45px;
    border-radius: 20px;
}

.pos-cad {
    margin-top: 90px;
    object-position: center bottom;
    font-size: 25px;
    text-decoration: none;
    color: #49708A;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.box {
    width: 45%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: #CAFF42;
}

.header-text-vienna {

    position: absolute;
    width: 190px;
    left: 13%;
    top: 5%;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 65px;
    text-decoration: none;

    color: #EBF7F8;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.foot-register {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #49708A;
}